# Directories
.cursor
.github
.husky
.storybook
.vscode
example
public
tests

# Files
*.md
*.json
*.config.js
*.config.ts
!package.json
!README.md

# Source maps (exclude from package to reduce size)
**/*.map
dist/**/*.map
